image: golang:1.17

pipelines:
  default:
    - step:
        name: Native Go Tests
        caches:
          - go
        script:
          - go version
          - go mod download
          - go test ./...
    - step:
        name: Bazel Tests
        image: dazel/dazel
        script:
          - apt-get update && apt-get install -y --no-install-recommends git
          - cd $BITBUCKET_CLONE_DIR && bazel test //...
