image: golang:1.17

definitions:
  caches:
    go: ~/.cache/go-build
    go-path: ~/go
    bazel: ~/.cache/bazel

pipelines:
  default:
    - step:
        name: Native Go Tests
        caches:
          - go
          - go-path
        script:
          - go version
          - go mod download
          - go build -v ./cmd/...
          - mkdir test-reports
          - go get -u github.com/jstemmer/go-junit-report
          - go test ./... -v 2>&1 | go-junit-report > test-reports/report.xml
    - step:
        name: Bazel Tests
        image: l.gcr.io/google/bazelisk
        caches:
          - bazel
        script:
          - apt-get update && apt-get install -y --no-install-recommends git
          - cd $BITBUCKET_CLONE_DIR && bazelisk test //...
    - step:
        name: Lint code
        image: golangci/golangci-lint:v1.31.0
        script:
          - golangci-lint run -v
