<html>
  <head>
    <meta charset="utf-8" />
    <title>gotwebfe</title>
    <meta name="theme-color" content="#444444"><!-- keep in sync with manifest -->
    <link rel="manifest" href="/app/manifest.json">
    <link rel="apple-touch-icon" href="/app/go-tibia-192.png">

{{- if $.ServerIDX }}
{{- if eq 0 $.PG -}}
    <link rel="canonical" href="/items/">
{{- end -}}
{{- if eq 1 $.PG -}}
    <link rel="canonical" href="/items/">
{{- end -}}
{{- else -}}


{{- if $.KnownClientIDX }}
{{- if eq 0 $.PG -}}
    <link rel="canonical" href="/items/">
{{- end -}}
{{- if eq 1 $.PG -}}
    <link rel="canonical" href="/items/">
{{- end -}}
{{- else -}}

{{- if eq 0 $.PG -}}
    <link rel="canonical" href="/citems/854/">
{{- end -}}
{{- if eq 1 $.PG -}}
    <link rel="canonical" href="/citems/854/">
{{- end -}}
{{- end -}}
{{- end -}}

    <link rel="stylesheet" href="/app/tfont.css">
  </head>
  <body>

    <div class="window-controls-overlay panelfont" id="window-controls-overlay">
      <div class="titlebar" id="window-controls-titlebar">
        <!-- todo: move inline style into css -->
        <div class="titlebar-icon" id="window-controls-icon" style="display: inline; height: 100%; position: relative;">
          <img src="/creature/203-2-0" class="titlebar-icon" id="window-controls-icon" width="16" height="16" align="center" style="left: -3px; top: 0px; position: absolute;"><!-- titlebar height is presumably 17px in css -->
        </div>
        <div style="display: inline-block; width: 16px;"></div><!-- todo: combine with above so space is correctly taken -->
        Go-Tibia

        <div class="button-area" >
          <button class="button"><a href="/map" class="minifont">serverside map render</a></button>
          <button class="button"><a href="/app/" class="minifont">clientside demo</a></button>
          <button class="button"><a href="/citems/854/item/" class="minifont">items table</a></button>
          <button class="button"><a href="/outfits/" class="minifont">outfits table</a></button>
        </div>

      <script>
        /* this mostly-unused block mostly from: https://web.dev/window-controls-overlay/ */
        var div = document.getElementById('window-controls-titlebar');
        if ('windowControlsOverlay' in navigator) {
            // Window Controls Overlay is supported.
            console.log('window controls overlay enabled');


            const { x } = navigator.windowControlsOverlay.getTitlebarAreaRect();
            // Window controls are on the right (like on Windows).
            // Chrome menu is left of the window controls.
            // [ windowControlsOverlay___________________ […] [_] [■] [X] ]
            if (x === 0) {
                div.classList.add('window-controls-right');
            }
            // Window controls are on the left (like on macOS).
            // Chrome menu is right of the window controls overlay.
            // [ [X] [_] [■] ___________________windowControlsOverlay [⋮] ]
            else {
                div.classList.add('window-controls-left');
            }
        } else {
            // When running in a non-supporting browser tab.
            div.classList.add('window-controls-right');
        }

        if (navigator.windowControlsOverlay.visible) {
            // The window controls overlay is visible in the title bar area.
        }

        // Create the query list.
        const mediaQueryList = window.matchMedia('(display-mode: window-controls-overlay)');

        // Define a callback function for the event listener.
        function handleDisplayModeChange(mql) {
            // React on display mode changes.
            console.log('orientation changed');
        }

        // Run the display mode change handler once.
        handleDisplayModeChange(mediaQueryList);

        // Add the callback function as a listener to the query list.
        mediaQueryList.addEventListener('change', handleDisplayModeChange);


        const debounce = (func, wait) => {
            let timeout;
            return function executedFunction(...args) {
                const later = () => {
                    clearTimeout(timeout);
                    func(...args);
                };
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        };

        if ('windowControlsOverlay' in navigator) {
            //navigator.windowControlsOverlay.ongeometrychange = debounce((e) => {
            //    span.hidden = e.titlebarAreaRect.width < 800;
            //}, 250);
        }
        navigator.windowControlsOverlay.addEventListener(
            'geometrychange',
            debounce((e) => {
                //span.hidden = e.titlebarAreaRect.width < 800;
            }, 250),
        );

      </script>
    </div>

    <div class="window-controls-overlay-content-spacing"></div>


    <div class="window" style="margin-left: auto; margin-right: auto; width: 600px; min-height: 100px;" id="items">
      <div class="titlebar">Items list</div>
      <div class="content" style="max-height: 850px; overflow-y: scroll;">

{{ if ne .PGSize 1 }}
{{range $index, $p := N2 .PGMin .PGMax}}
{{- if $.ServerIDX }}
{{- if eq $p $.PG -}}
<b><a href="/items/?page={{ plusone $p }}" class="minifont">{{ plusone $p }}</a></b> {{else -}}
<a href="/items/?page={{ plusone $p }}" class="minifont">{{ plusone $p }}</a> {{end -}}
{{- else -}}
{{- if $.KnownClientIDX }}
{{- if eq $p $.PG -}}
<b><a href="/items/?page={{ plusone $p }}" class="minifont">{{ plusone $p }}</a></b> {{else -}}
<a href="/items/?page={{ plusone $p }}" class="minifont">{{ plusone $p }}</a> {{end -}}
{{- else -}}
{{- if eq $p $.PG -}}
<b><a href="/citems/854/item/?page={{ plusone $p }}" class="minifont">{{ plusone $p }}</a></b> {{else -}}
<a href="/citems/854/item/?page={{ plusone $p }}" class="minifont">{{ plusone $p }}</a> {{end -}}
{{- end -}}
{{- end -}}
{{end}}
{{end}}

{{ if .ServerIDX }}
<div class="panelfont">All item IDs are server IDs. Graphics are for client {{ $.Client }}.</div>
{{ else }}
{{ if .KnownClientIDX }}
<div class="panelfont">All item IDs are server IDs. Graphics are for client {{ $.Client }}.</div>
{{ else }}
<div class="panelfont">All item IDs are client IDs for {{ $.Client }}.</div>
{{ end }}
{{ end }}

<div class="minifont">Total items: {{ $.ItemCount }}</div>

<table itemscope itemtype="https://schema.org/ItemList">
  <meta itemprop="numberOfItems" content="10477"><!-- fixme -->
  <th class="panelfont">
    {{- if $.ServerIDX -}}
    otb id
    {{- else -}}
    {{- if .KnownClientIDX -}}
    otb id
    {{- else -}}
    cid
    {{- end -}}
    {{- end -}}
  </th>
  <th class="panelfont">
    name
  </th>
  <th class="panelfont">
    img
  </th>
  <th class="panelfont">
    lightinfo
  </th>
  <th class="panelfont">
    minimap color
  </th>
  <th class="panelfont">
    wiki
  </th>
  <th class="panelfont">
    description
  </td>
  <!--
    := item $cid to get server ID. works fine, except for pagination being adapted to client items.
    := itemWithOTBIDX $cid uses server index offset inside the OTB array
    := itemWithClientIDX $cid uses server index offset inside the known client IDs indexes pointing at OTB array
    := itemWithClientID $cid uses client ID
  -->
  {{ if $.KnownClientIDX }}
  {{range $index, $cid := N2 (mul .PG .PGSize) (mul (plusone .PG) .PGSize)}}
  {{ $itm := itemWithClientIDX $cid }}
  {{ if isNil $itm }}
  <tr class="minifont">
    <td>{{ $itm.ServerID }}</td>
    <td colspan="6"><i>does not exist</i></td>
  </tr>
  {{ else }}
  <tr class="minifont" itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement">
    <td title="{{ $itm.ClientID 854 }}">{{ $itm.ServerID }}</td>
    <td>{{ if $itm.Article }}{{ $itm.Article }} {{ end }}<a href="/items/{{ $itm.ServerID }}" class="minifont">{{ if $itm.Name }}{{ $itm.Name }}{{ else }}unknown{{ end }}</a></td>
    <td itemprop="item" itemscope itemtype="https://schema.org/Thing"><meta itemprop="name" content="{{ $itm.Name }}"><img itemprop="image" src="/item/{{ $itm.ServerID }}" width="{{ $itm.GraphicsSize.W }}" height="{{ $itm.GraphicsSize.H}}" sstyle="transform: scale(1, 0.66) rotate(45deg);" title="{{ $itm.RawClientDatasetItem780.OptBytes780 }}"></td>
    <td>{{ if ne $itm.LightInfo.Strength 0 }}{{ $itm.LightInfo.Strength }} <div style="width: 24px; height: 24px; border-radius: 24px; background-color: {{ datasetColorToHex $itm.LightInfo.Color }}; border: thin 2px red;"></div>{{else}}<i>none</i>{{end}}</td>
    <td>{{ if $itm.MapColorOK }}<div style="width: 24px; height: 24px; border-radius: 24px; background-color: {{ datasetColorToHex $itm.MapColor }}; border: thin 2px red;"></div>{{else}}<i>none</i>{{end}}</td>
    <td>{{ if $itm.Temp__ExternalLink }}<button><a class="minifont" target="_blank" href="{{ $itm.Temp__ExternalLink }}">wiki</a>{{ end }}</button></td>
    <td>{{ if $itm.Description }}<div class="gamefont" style="color: {{ datasetColorIndexToHex 30 }};">{{ $itm.Description }}</div>{{ else }}-{{ end}}</td>
  </tr>
  {{end}}
  {{end}}


  {{ else }}<!-- if serveridx -->



  {{ if $.ServerIDX }}
  {{range $index, $cid := N2 (mul .PG .PGSize) (mul (plusone .PG) .PGSize)}}
  {{ $itm := itemWithOTBIDX $cid }}
  {{ if isNil $itm }}
  <tr class="minifont">
    <td>{{ $itm.ServerID }}</td>
    <td colspan="6"><i>does not exist</i></td>
  </tr>
  {{ else }}
  <tr class="minifont" itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement">
    <td title="{{ $itm.ClientID 854 }}">{{ $itm.ServerID }}</td>
    <td>{{ if $itm.Article }}{{ $itm.Article }} {{ end }}<a href="/items/{{ $itm.ServerID }}" class="minifont">{{ if $itm.Name }}{{ $itm.Name }}{{ else }}unknown{{ end }}</a></td>
    <td itemprop="item" itemscope itemtype="https://schema.org/Thing"><meta itemprop="name" content="{{ $itm.Name }}"><img itemprop="image" src="/item/{{ $itm.ServerID }}" width="{{ $itm.GraphicsSize.W }}" height="{{ $itm.GraphicsSize.H}}" sstyle="transform: scale(1, 0.66) rotate(45deg);" title="{{ $itm.RawClientDatasetItem780.OptBytes780 }}"></td>
    <td>{{ if ne $itm.LightInfo.Strength 0 }}{{ $itm.LightInfo.Strength }} <div style="width: 24px; height: 24px; border-radius: 24px; background-color: {{ datasetColorToHex $itm.LightInfo.Color }}; border: thin 2px red;"></div>{{else}}<i>none</i>{{end}}</td>
    <td>{{ if $itm.MapColorOK }}<div style="width: 24px; height: 24px; border-radius: 24px; background-color: {{ datasetColorToHex $itm.MapColor }}; border: thin 2px red;"></div>{{else}}<i>none</i>{{end}}</td>
    <td>{{ if $itm.Temp__ExternalLink }}<button><a class="minifont" target="_blank" href="{{ $itm.Temp__ExternalLink }}">wiki</a>{{ end }}</button></td>
    <td>{{ if $itm.Description }}<div class="gamefont" style="color: {{ datasetColorIndexToHex 30 }};">{{ $itm.Description }}</div>{{ else }}-{{ end}}</td>
  </tr>
  {{end}}
  {{end}}
  {{ end }}<!-- if known client ... -->




  {{range $index, $cid := N2 (add 100 (mul .PG .PGSize)) (add 100 (mul (plusone .PG) .PGSize))}}
  {{ $itm := itemWithClientID $cid }}
  {{ if isNil $itm }}
  <tr class="minifont">
    <td>{{$cid}}</td>
    <td colspan="6"><i>does not exist</i></td>
  </tr>
  {{ else }}
  <tr class="minifont" itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement">
    <td title="{{ $itm.ServerID }}">{{$cid}}</td>
    <td>{{ if $itm.Article }}{{ $itm.Article }} {{ end }}<a href="/citems/854/item/{{ $cid }}" class="minifont">{{ if $itm.Name }}{{ $itm.Name }}{{ else }}unknown{{ end }}</a></td>
    <td itemprop="item" itemscope itemtype="https://schema.org/Thing"><meta itemprop="name" content="{{ $itm.Name }}"><img itemprop="image" src="/item/c{{ $cid }}" width="{{ $itm.GraphicsSize.W }}" height="{{ $itm.GraphicsSize.H}}" sstyle="transform: scale(1, 0.66) rotate(45deg);" title="{{ $itm.RawClientDatasetItem780.OptBytes780 }}"></td>
    <td>{{ if ne $itm.LightInfo.Strength 0 }}{{ $itm.LightInfo.Strength }} <div style="width: 24px; height: 24px; border-radius: 24px; background-color: {{ datasetColorToHex $itm.LightInfo.Color }}; border: thin 2px red;"></div>{{else}}<i>none</i>{{end}}</td>
    <td>{{ if $itm.MapColorOK }}<div style="width: 24px; height: 24px; border-radius: 24px; background-color: {{ datasetColorToHex $itm.MapColor }}; border: thin 2px red;"></div>{{else}}<i>none</i>{{end}}</td>
    <td>{{ if $itm.Temp__ExternalLink }}<button><a class="minifont" target="_blank" href="{{ $itm.Temp__ExternalLink }}">wiki</a>{{ end }}</button></td>
    <td>{{ if $itm.Description }}<div class="gamefont" style="color: {{ datasetColorIndexToHex 30 }};">{{ $itm.Description }}</div>{{ else }}-{{ end}}</td>
  </tr>
  {{end}}
  {{end}}

  {{end}}<!-- if serveridx -->
</table>

<div class="minifont">If wiki links get '?action=raw' appended to them, there's "| itemid    = NNNN" inside. This means we can map more directly to the data in the wiki, especially in the db dump. The item IDs are comma separated.</div>

<div class="minifont">Item IDs are <a href="https://tibia.fandom.com/wiki/Item_IDs">also on a dedicated page, too</a> which shows how it's dynamically computed: by specifying `| includes= {Infobox Object}:itemid` inside a <a href="https://tibia.fandom.com/wiki/Template:DPL_Table">`DPL Table`</a>.</div>

<div class="minifont">A dump is on nas. It's a 60mb .xml.7z with one 200mb .xml inside with all pages, which should therefore be individually processed and categorized.</div>

	</div><!-- .content -->
      <div class="bottombar"></div>
    </div><!-- .window #items -->

    <div class="window" style="margin-left: auto; margin-right: auto; width: 775px; min-height: 100px;" id="items">
      <div class="titlebar">Dataset colors</div>
      <div class="content">

<table>
  {{range $index, $row := N2 0 7}}
  <tr>
    {{range $index2, $col := N2 0 36}}
    <td bgcolor="{{ datasetColorIndexToHex (add (mul $row 36) $col)}}" width="24" height="24" class="minifont">{{ add (mul $row 36) $col }}</td>
    {{end}}
  </tr>
  {{end}}
</table>

	</div><!-- .content -->
      <div class="bottombar"></div>
    </div><!-- .window #items -->
	
  </body>

</html>
