name: Go

# References:
# [^1]: https://github.com/sourcegraph/jsonrpc2/blob/3c4c92ad61e8a64c37816d2c573f5d0094d96d33/.github/workflows/ci.yml

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false  # via [^1]
      matrix:
        go-version: [1.17]

    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: Check out code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        go mod download
        # Or: go get -t -v ./... (via [^1])

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@v0.2.2
      # via [^1]

    - name: Lint
      run: staticcheck -checks=all ./...
      continue-on-error: true
      # via [^1]

    - name: Run native Go tests
      run: |
        timeout 120s go test --mod=readonly -v ./xmls

    - name: Set up Bazelisk
      uses: bazel-contrib/setup-bazel@0.14.0
      with:
        # Avoid downloading Bazel every time.
        bazelisk-cache: true
        # Store build cache per workflow.
        disk-cache: ${{ github.workflow }}
        # Share repository cache between workflows.
        repository-cache: true

    # - name: Run Bazel tests
    #   run: |
    #     bazel test //...
