name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [1.17]

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        go mod download

    - name: Run native Go tests
      run: |
        go test ./...

    - name: Set up Bazelisk
      uses: bazelbuild/setup-bazel@v3

    - name: Run Bazel tests
      run: |
        bazel test //...
